$xs: 320px;
$sm: 575px;
$md: 768px;
$lg: 1024px;

@mixin green_btn ($width,$height) {
  width: $width;
  height: $height;
  border-radius: 5px;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  background-color: #1fdb84;
  border-radius: 5px 0 5px 0;
  transition: all 1s ease;
  border: none;
  color: white;
  text-align: center;  
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

@mixin transparent_btn ($width,$height) {
  width: $width;
  height: $height;  
  background-color: transparent;
  transition: all 1s ease;
  border: none;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}


@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin rouded($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
  text-align: center;
  line-height: $size;
}

@mixin mobile {
  @media (min-width: $xs) and (max-width: $sm - 1px){
    @content;
  }
}
@mixin mobile_l {
  @media (max-width: $md - 1px) and (min-width: $sm){
    @content;
  }
}

@mixin tablet {
  @media (min-width: $md) and (max-width: $lg - 1px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $lg) and (max-width: 1205px) {
    @content;
  } 
}

