* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  color: #fff;
  font-family: 'Rubik', sans-serif; }

body {
  margin: 0 auto;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.start-page {
  background-color: #313a5a; }

.sub-container {
  width: 100%;
  max-width: 1178px;
  margin: 0 auto; }

.page-header {
  height: 58px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .page-header__logo {
    font-size: 26px;
    font-weight: 500;
    flex: 1; }
  .page-header a {
    text-decoration: none;
    color: #fff; }
  .page-header__list {
    flex: 1.5;
    display: flex;
    justify-content: space-around; }
  .page-header__login-form {
    flex: 1;
    display: flex;
    justify-content: flex-end; }

.page-header__item {
  text-decoration: none;
  color: #fff; }
  .page-header__item:hover {
    color: #1fdb84;
    transition: all 1s ease;
    padding-right: 0; }

.login,
.register {
  width: 120px;
  height: 40px;
  background-color: transparent;
  transition: all 1s ease;
  border: none;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: #fff; }
  .login:hover,
  .register:hover {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
    background-color: #1fdb84;
    border-radius: 5px 0 5px 0;
    transition: all 1s ease;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Rubik', sans-serif; }

.main-content {
  background-image: url(./assets/images/Artboard.png);
  background-position: bottom 100% left 80%;
  background-repeat: no-repeat;
  margin-top: 57px;
  background-size: contain; }

.main-content__wrap {
  width: 50%; }

.main-content__tittle {
  padding-top: 100px; }

.main-content h1 {
  font-size: 48px;
  font-weight: bold; }

.main-content__subscription p {
  line-height: 2;
  margin-top: 40px;
  margin-bottom: 35px; }

.main-content__button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  background-color: #1fdb84;
  border-radius: 5px 0 5px 0;
  transition: all 1s ease;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 314px; }

.paid-plan {
  background-color: #f8f9fc;
  position: relative; }

.columns_1_3 {
  border-radius: 10px;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
  margin-top: -100px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: space-around;
  padding: 66px 0 88px 0; }

.advantages {
  width: 25%; }
  .advantages__image {
    width: 72px;
    height: 72px;
    border-radius: 6px;
    background-color: #f1fff8;
    display: flex;
    align-items: center;
    justify-content: center; }
  .advantages__caption {
    font-size: 18px;
    color: #031d5b;
    font-weight: 500;
    margin-top: 26px;
    padding-bottom: 28px;
    position: relative; }
    .advantages__caption:after {
      content: '';
      height: 4px;
      width: 60px;
      background-color: #1fdb84;
      left: 0;
      bottom: 0;
      position: absolute; }
  .advantages__text {
    line-height: 2;
    color: #5b6c94;
    margin-top: 18px; }

.subscribe-block {
  padding-top: 500px;
  margin: 0 auto;
  max-width: 810px;
  text-align: center; }
  .subscribe-block__tittle {
    color: #32325c;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 60px; }
  .subscribe-block__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 64px; }

.short-time,
.long-time {
  border-radius: 5px;
  border: solid 1px #aefdd9;
  background-color: #ffffff;
  letter-spacing: 2px;
  color: #1fdb84;
  font-weight: bold;
  height: 60px;
  text-align: center;
  transition: all 0.5s ease; }
  .short-time:hover,
  .long-time:hover {
    background-color: #aefdd9;
    transition: all 0.5s ease; }

.short-time {
  width: 162px; }

.long-time {
  width: 308px; }

.price-wrap {
  display: flex; }

.price-block {
  padding-top: 53px;
  text-align: center;
  color: #5b6c94;
  height: 665px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  align-items: center;
  transition: all 0.2s ease;
  padding-bottom: 53px; }
  .price-block:hover {
    box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
    background-color: #ffffff;
    border-top: 3px solid #0a8aff;
    transition: all 0.2s ease; }
  .price-block__plan {
    font-size: 24px;
    font-weight: bold;
    color: #32325c; }
  .price-block__price {
    font-size: 72px;
    color: #1fdb84; }
  .price-block__include ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 2; }
  .price-block__include li {
    margin-top: 17px;
    list-style: none; }
  .price-block__btn {
    width: 255px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
    background-color: #1fdb84;
    border-radius: 5px 0 5px 0;
    transition: all 1s ease;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Rubik', sans-serif; }

.slaider-section {
  background-image: url(./assets/images/rectangle-7-copy-6.png);
  position: relative;
  background-position: top 30px left 147px;
  background-repeat: no-repeat;
  margin-top: 280px;
  display: flex;
  justify-content: space-between; }

.feedback {
  color: #031d5b;
  font-size: 40px;
  font-weight: 500;
  width: 21%;
  margin-left: 170px;
  padding-top: 70px; }

.slaider-bcg {
  position: relative;
  top: -30px;
  right: 0;
  background-color: #313a5a;
  width: 60%;
  min-height: 970px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.slaider-wrap {
  position: absolute;
  margin-left: -220px;
  z-index: 2;
  display: flex;
  justify-content: space-around; }

.slaider {
  padding: 0 60px 0 50px;
  width: 36%;
  background-color: #fff;
  color: #5b6c94; }
  .slaider__image {
    width: 48px;
    height: 40px;
    margin-top: 80px;
    color: green;
    display: flex;
    justify-content: space-between; }
  .slaider__response {
    font-size: 18px;
    line-height: 2; }
  .slaider__author {
    font-size: 18px;
    margin-top: 42px;
    margin-bottom: 63px; }
    .slaider__author span {
      opacity: 0.4; }
  .slaider.active {
    color: #fff;
    box-shadow: 12px 12px 40px 0 rgba(31, 219, 132, 0.5);
    background-color: #1fdb84; }

.wrap-buttons {
  position: absolute;
  left: 100px;
  bottom: 90px;
  display: flex;
  justify-content: space-between;
  width: 161px; }

.slider-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px #fff;
  cursor: pointer; }
  .slider-button.active {
    background-color: #fff;
    cursor: pointer; }

.partners {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .partners__description {
    color: #031d5b; }
  .partners__logo {
    margin-top: 58px; }

footer {
  color: #5b6c94;
  margin-top: 180px;
  text-align: center; }

.footer-menu {
  margin-top: 50px;
  margin-bottom: 114px; }
  .footer-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer-menu ul li:not(:last-child):after {
      content: "/";
      padding-left: 20px;
      padding-right: 20px; }
    .footer-menu ul a {
      text-decoration: none;
      color: #031d5b; }


/*# sourceMappingURL=homework_7.css.map*/